<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= team.description %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= team.members %>
  </p>

  <p>
    <strong>Team lead:</strong>
    <%= team.team_lead %>
  </p>

</div>
