<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= goal.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= goal.start_date %>
  </p>

  <p>
    <strong>Finish date:</strong>
    <%= goal.finish_date %>
  </p>

  <p>
    <strong>Attrib:</strong>
    <%= goal.attrib %>
  </p>

  <p>
    <strong>Teammss:</strong>
    <%= goal.teammss %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= goal.status %>
  </p>

  <p>
    <strong>Team_ID:</strong>
    <%= goal.team_id %>
  </p>

</div>
