<div class="sidenav">
    <ul style= "list-style-type: none">
        <li>
            <a href="http://[::1]:3000/users/?locale=en" class="w3-bar-item w3-button"><%= t 'users.index.users' %></a>
        </li>
        <li>
            <a href="http://[::1]:3000/employees/?locale=en" class="w3-bar-item w3-button"><%= t 'employees.index.Employees' %></a>
        </li>
        <li>
            <a href="http://[::1]:3000/teams/?locale=en" class="w3-bar-item w3-button"><%= t 'teams.index.teams' %></a>
        </li>
        <li>
            <a href="http://[::1]:3000/goals/?locale=en" class="w3-bar-item w3-button w3-hide-small"><%= t 'goals.index.Target' %></a>
        </li>
        <li>
            <a href="http://[::1]:3000/divisions/?locale=en" class="w3-bar-item w3-button w3-hide-small"><%= t 'divisions.index.Division' %></a>
        </li>
    </ul>
</div>